html{
	height: 95vh;
}

body{
    font-family: "Orbitron", helvetica, arial;
    text-align: center;
    background-color: #add8e6;
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
button{
	font-family: "Orbitron";
	outline: none;
	box-sizing: border-box;
	display: inline-block;
	margin: 3px;
	margin-bottom: 10px;
	border-radius: 4px;
	border-top-right-radius: 10px;
	width: 50px;	
	height: 55px;
	background-color: white;
	box-shadow: inset -3px -3px 10px #ccc;	
}
button:hover{

}
button:active{
	box-shadow: inset -10px -10px 10px #ccc;

}
h1{
	padding-top: 15px;
	font-size: 1.3rem;
	font-weight: 700;
}
.main-box{
	background-color: lightgrey;
	border-radius: 5px;
	width: 280px;
	height: auto;
	box-shadow: 5px 3px 15px 0px;	
}

.calc-display{
	margin: 0 auto;
	padding:0 5px;
	line-height: 63px;
	margin-bottom: 1rem;
	background-color: beige;
	text-align: right;
	font-size: 1.6rem;
	width: 87%;
	height: 4rem;
	border-radius: 5px;
	box-shadow: inset 2px 3px 2px #ccc, inset -2px -3px 2px #ccc;
}
#placeholderButton{
	visibility: hidden;
}
#zeroButton{
	margin-left: -57px;
	width: 110px;
}
#equalsButton{
	position: absolute;
	height: 123px;
	margin-top: -65px;
	margin-left: 7px;
}